{% extends 'onsis/base.html' %}
{% load humanize %}
{% block content %}
<div class="row">
   <div class="col-lg-12">
      <h1 class="page-header">
         Relat&oacute;rio de despesas <small> </small>
      </h1>
		<ol class="breadcrumb">
            <li>Relat&oacute;rios</li>
            <li>Ano</li>
            <li>Gr&aacute;ficos</li>
            <li class="active">
            <i class="fa fa-credit-card fa-fw"></i> Despesa
            </li>
		</ol>
   </div>
</div>
<div class="row">
   <div class="col-lg-12">
      <div class="panel panel-default">
         <div class="panel-heading">
            <h3 class="panel-title">
               <i class="fa fa-info-circle fa-fw"></i> Relat&oacute;rio de despesa
            </h3>
         </div>
         <div class="panel-body">
            <p>Relat&oacute;rios de despesas realizadas</p>
         </div>
      </div>
   </div>
</div>
<div class="row">
   <div class="col-sm-3"></div>
   <div class="col-sm-6">
      {% if mensagem %}
      <div class="alert alert-{{ status }} alert-dismissable fade in" style="display: block;">
         <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>	
         <strong>{{ mensagem }}</strong>
      </div>
      {% endif %}
   </div>
   <div class="col-sm-3"></div>
</div>

<div class="row">
    <div class="panel-body">
       <div class="col-md-4 selecao-ano">
          <label for="mes_despesa">Selecione o ano para visualizar as despesas no ano</label>
       </div>
       <div class="col-md-2">
          <select name="mes_despesa" class="form-control" onchange="javascript:recuperarRegistroPorAno('/despesa/grafico/ano/', this.value);">
             {% for ano in anos %}
             <!-- Forçando a comparação entre valores inteiros -->
             {% if ano_atual|add:0 == ano|add:0 %}
                <option value="{{ano}}" selected>{{ano}}</option>
             {% else %}
                <option value="{{ano}}">{{ano}}</option>
             {% endif %}
             {% endfor %}
          </select>
       </div>
    </div>
</div>

<div class="row" id="rowId">
    <div class="col-lg-12">
       <div id="wait" style="display: block;">
          <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
          <span>Carregando...</span>
       </div>
   
        <div id="show_content" style="display: none;">
            <div class="panel panel-default">
            
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Gr&aacute;fico de despesas 
                    </h3>
                </div>

                <div class="panel-body">
                    <div class="wrapper" style="position: relative; height: 50vh">
                        <canvas id="despesa_realizada_ano_grafico"></canvas>
                    </div>
                    <script>
                         var ctx = document.getElementById('despesa_realizada_ano_grafico');

                         var rotulos = JSON.parse('{{ rotulos|safe }}');
                         var valores = JSON.parse('{{ valores|safe }}');
                         
                         var colors = [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)',
                            'rgba(74, 26, 252, 0.6)',
                            'rgba(210, 79, 59, 0.2)',
                            'rgba(87, 79, 178, 0.2)',
                            'rgba(22, 79, 59, 0.2)',
                            'rgba(17, 201, 59, 0.2)',
                            'rgba(255, 226, 197, 0.2)',	
                            'rgba(155, 89, 032, 0.2)',
                            'rgba(44, 62, 35, 0.2)',
                            'rgba(155, 106, 76, 0.2)',
                            'rgba(65, 92, 92, 0.2)',
                            'rgba(53, 22, 155, 0.2)',
                            'rgba(155, 59, 54, 0.2)',
                            'rgba(64, 16, 152, 0.6)',
                            'rgba(110, 69, 49, 0.2)',
                            'rgba(77, 69, 78, 0.2)',
                            'rgba(12, 69, 49, 0.2)',
                            'rgba(7, 101, 39, 0.2)',
                            'rgba(155, 126, 97, 0.2)'
                           ];
                         
                         var despesaRealizaMesGrafico = new Chart(ctx, {
                             type: 'pie',
                             data: {
                                 labels: rotulos,
                                 datasets: [{
                                     label: 'Despesas realizadas',
                                     data: valores,
                                     backgroundColor: colors,
                                     borderColor: 'white',
                                     borderWidth: 1
                                 }]
                             },
                             options: {		
                            responsive: true,
                           maintainAspectRatio: false,
                           legend: {
                           position: 'right'
                           },
                           animation: {
                           duration: 500,
                           easing: "easeOutQuart",
                           onComplete: function() {
                           var ctx = this.chart.ctx;
                           ctx.font = Chart.helpers.fontString(Chart.defaults.global.defaultFontFamily, 'normal', Chart.defaults.global.defaultFontFamily);
                           ctx.textAlign = 'center';
                           ctx.textBaseline = 'bottom';
                           
                           this.data.datasets.forEach(function(dataset) {
                           
                           for (var i = 0; i < dataset.data.length; i++) {
                           var model = dataset._meta[Object.keys(dataset._meta)[0]].data[i]._model,
                           total = dataset._meta[Object.keys(dataset._meta)[0]].total,
                           mid_radius = model.innerRadius + (model.outerRadius - model.innerRadius) / 2,
                           start_angle = model.startAngle,
                           end_angle = model.endAngle,
                           mid_angle = start_angle + (end_angle - start_angle) / 2;
                           
                           var x = mid_radius * Math.cos(mid_angle);
                           var y = mid_radius * Math.sin(mid_angle);
                           
                           ctx.fillStyle = '#444'; // #fff
                           if (i == 3) { // Darker text color for lighter background
                           ctx.fillStyle = '#444';
                           }
                           var percent = String(Math.round(dataset.data[i] / total * 100)) + "%";
                           //ctx.fillText(dataset.data[i], model.x + x + (x/2), model.y + y + (y/2));
                           // Display percent in another line, line break doesn't work for fillText
                           ctx.fillText(percent, model.x + x + (x/2), model.y + y + (y/2) + 15);
                           }
                           });
                           }
                           }
                           /*scales: {
                           yAxes: [{
                           ticks: {
                           beginAtZero:true
                           }
                           }]
                           }*/
                           }
                           });
                    </script>
            </div>   
        </div>
        </div>
    </div>
</div>
<!-- row -->
{% if status == 'danger' %}
    <script>document.getElementById('rowId').style.display = 'none';</script>
{% endif %}
{% if status == 'warning' %}
    <script>document.getElementById('rowId').style.display = 'block';</script>
{% endif %}
{% endblock %}