{% load static %}
{% block main %}
<!DOCTYPE html>
<html>
<head>
<title>online sisdespenda</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

	<link href="{% static 'css/app-estilo.css' %}" rel="stylesheet">
</head>
<body>
	<div class="container">
		<div class="page-header">
			<center>
				<h1>
					sisdespenda <small>online</small>
				</h1>
			</center>
		</div>

		<div class="row">
			<div class="col-sm-3"></div>
			<div class="col-sm-6">
				{% if mensagem %}
					<div class="alert alert-{{ status }} alert-dismissable fade in" style="display: block;">
						<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>	
						<strong>{{ mensagem }}</strong>
					</div>
				{% endif %}
			</div>
			<div class="col-sm-3"></div>
		</div>
		
		<div class="row">
			<div class="col-md-4"></div>
		
			<div class="col-md-4">
				
				<div id="login">
					<form role="form" name="LoginForm" action="/entrar/" method="post" id="logonForm">
					{% csrf_token %}
					{% if next %}
						<input type="hidden" name="next" value="{{ next }}" />
					{% endif %}
					<div class="form-row">
						<div class="form-group control-group">
							<label for="email">usu&aacute;rio</label>
							<div class="controls">
								<input type="text" id="username" name="username" class="form-control" placeholder="nome">
							</div>
						</div>
					</div>
					<div class="form-row">
						<div class="form-group control-group">
							<label class="control-label" for="password">senha</label>
							<div class="controls">
								<input type="password" name="password" id="password" class="form-control" placeholder="senha">
							</div>
						</div>
					</div>
					<div>
						<center>
							<button type="submit" class="btn btn-primary">entrar</button>
							<button type="button" class="btn btn-default limpar">limpar</button>
						</center>
					</div>
					</form>
				</div>
			</div>

			<div class="col-md-4"></div>
		</div>
		
		<div class="page-footer">
			<center>
				<h3>
					<small>todos os direitos reservados</small>
				</h3>
			</center>
		</div>
	</div>
	
	<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>

	<script type="text/javascript" src="{% static 'js/jquery.validate.js' %}"></script>
	
	<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
	
	<script type="text/javascript" src="{% static 'js/login-script.js' %}"></script>

	<script>
		document.getElementById('username').focus();
	</script>
</body>
</html>
{% endblock %}