{% load static %}
<!DOCTYPE html>
<html>
   <head>
      <title></title>
      <!-- Bootstrap Core CSS -->
      <!-- Bootstrap Core CSS -->
      <link href="/static/css/bootstrap.min.css" rel="stylesheet">
      <link href="/static/css/app-estilo.css" rel="stylesheet">
      <!-- Custom CSS -->
      <link href="/static/css/sb-admin.css" rel="stylesheet">
      <!-- Morris Charts CSS -->
      <link href="/static/css/plugins/morris.css" rel="stylesheet">
      <!-- Custom Fonts -->
      <link href="/static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
      <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
      <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
      <!-- jQuery -->
      <script src="/static/js/jquery.js"></script>
      <!-- Bootstrap Core JavaScript -->
      <script src="/static/js/bootstrap.min.js"></script>
      <script type="text/javascript">
         $(function() {
         	console.log('ok!');
         });
         
      </script>
      <style>
      </style>
   </head>
   <body>
      <div class="container">
         <div class="row">
            <div class="col-lg-12">
               <h1 class="page-header">
                  Erro 404
                  <small>p&aacute;gina n&atilde;o encontrada</small>
               </h1>
               <ol class="breadcrumb">
                  <li class="active"><i class="fa fa-bug fa-fw"></i> O endere&ccedil;o acessado n&atilde;o existe ou n&atilde;o est&aacute; dispon&iacute;vel</li>
               </ol>
            </div>
         </div>
         <div class="row">
            <div class="col-lg-12">
               <div class="panel panel-default">
                  <div class="panel-body">
                     <p>
                        <i class="fa fa-info-circle fa-fw"></i>
                        Entre em contato com o administrador caso voce acredite que o endere&ccedil;o acessado deveria estar acess&iacute;vel.
                     </p>
                  </div>
               </div>
               <ol class="breadcrumb">
                  <li class="active"><i class="fa fa-hand-o-left fa-fw"></i> <a
                     href="/">Voltar</a></li>
               </ol>
            </div>
         </div>
      </div>
   </body>
</html>